/* h1{
    background-color: purple;
    color: blue;
} */
/* 
p{
    background-color: royalblue;
} */


/* h1{
    background-color: springgreen;
}
.momo{
    background-color: yellow;
    color: red;
}
#hola{
    background-color: magenta;
    color: cadetblue;
} */
/* .a{
    color: red;
} */

/* 
h1{
    background-color: aqua;
}
.momo{
    background-color: yellowgreen !important;
}
#a{
    background-color: cadetblue;
}
h1{
    background-color: red ;
} */



p{
    /* background-color: aqua;
    color: red; */
    /* text-align: center; */
    /* text-align: end; */
    /* text-align: start; */


    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: overline; */


    /* font-weight: bolder; */

    /* font-size: 50px; */

    /* line-height: 5px; */

    /* letter-spacing: -3px; */
}

  div .momo{
    background-color: aqua;
}
 #a{
    background-color: red;
}

/* div{
    background-color: aquamarine;
} */